#pane1 {
  -fx-background-color: #e9e3eb;
}
#pane5 {
  -fx-background-color: #e9e3eb;
}
#pane6 {
  -fx-background-color: #bd2708;
}
#pane7 {
  -fx-background-color: #e9e3eb;
}

#pane8 {
  -fx-background-color: #e9e3eb;
}

